body{
font-family:Arial;
margin:0;
background:#f5f5f5;
}

.header{
background:black;
color:white;
text-align:center;
padding:20px;
}

#productos{
padding:40px;
}

#lista-productos{
display:flex;
gap:20px;
}

.producto{
background:white;
border:1px solid #ddd;
padding:15px;
width:220px;
text-align:center;
}

.producto img{
width:100%;
height:200px;
object-fit:cover;
}

.producto button{
background:black;
color:white;
border:none;
padding:10px;
margin-top:10px;
cursor:pointer;
}

.footer{
background:black;
color:white;
text-align:center;
padding:15px;
margin-top:40px;
}


/* BANNER */

.banner{
height:300px;
background-image:url("https://images.unsplash.com/photo-1523381210434-271e8be1f52b");
background-size:cover;
background-position:center;
display:flex;
align-items:center;
justify-content:center;
color:white;
text-align:center;
}

.banner-text{
background:rgba(0,0,0,0.6);
padding:20px 40px;
}

.banner-text h2{
font-size:32px;
margin:0;
}

.banner-text p{
margin-top:10px;
}

.login-body{
background:black;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.login-box{
background:white;
padding:40px;
width:300px;
text-align:center;
border-radius:5px;
}

.login-box h2{
margin-bottom:10px;
}

.login-box input{
width:100%;
padding:12px;
margin:10px 0;
border:1px solid #ccc;
}

.login-box button{
width:100%;
padding:12px;
background:black;
color:white;
border:none;
cursor:pointer;
}

.login-box button:hover{
background:#333;
}